.cms-prp-advanced-product-search__paginator {
  text-align: center;
  .fielo-link__previous {
    &:after {
      content: " <";
    }
  }
  .fielo-link__next {
    &:before {
      content: "> ";
    }
  }
}

.cms-prp-advanced-product-search__paginator .disabled {
	color: #999DA0;
	cursor: default;
	text-decoration: none;
}