.cms-prp-section-header {
	display:inline-block;
	width: 100%;
}
.cms-prp-section-header__half {
	display:inline-block;
	width: 50%;
}
.cms-prp-section-header__left {
	float: left;
}
.cms-prp-section-header__right {
	float: right;
}
.cms-prp-section-header__middle {
}